/* Default logo styling */
.navbar-logo {
  height: 75px;
}

/* Smaller size for mobile screens (navbar toggle is shown) */
@media (max-width: 991px) {
  .navbar-logo {
      height: 50px; /* Mobile size */
      width: auto;  /* Maintain aspect ratio */
  }

  .nav-btn {
    text-align: left;
    margin: 0rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    background-color: transparent;
    color: #1E1E1E;
    font-weight: bold;
  }

  .nav-btn:hover {
    background-color: #f7f7f7;
    text-shadow: 2px 2px #e4fff5;
  }
}

  