.top-content {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section {
    background-image: url('../assets/images/Picture5.svg'); /* Background image */
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    height: 85rem;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    border: inset 25rem transparent;
    border-top: none;
    border-bottom: none;
}

/* Media query for larger screens (2560px) */
@media (max-width: 2560px) {
    .main-section {
        height: 80rem;
        border: inset 15rem transparent;
        border-top: none;
        border-bottom: none;
    }
}

/* Media query for larger screens (2560px) */
@media (max-width: 2200px) {
    .main-section {
        height: 70rem;
        border: inset 15rem transparent;
        border-top: none;
        border-bottom: none;
    }
}

/* Media query for larger screens (1900px) */
@media (max-width: 1900px) {
    .main-section {
        height: 65rem;
        border: inset 10rem transparent;
        border-top: none;
        border-bottom: none;
    }
}

/* Media query for laptop screens (1440px) */
@media (max-width: 1440px) {
    .main-section {
        height: 60rem;
        border: inset 4rem transparent;
        border-top: none;
        border-bottom: none;
    }
}

/* Media Query for Tablet Screens (1024px) */
@media (max-width: 1024px) {
    .main-section {
        height: 50rem;
        border: inset 5rem transparent;
        border-top: none;
        border-bottom: none;
    }
}

/* Media Query for Small Screens (Mobile) */
@media (max-width: 768px) {
    .main-section {
        height: 50rem;
        border: inset 0.7rem transparent;
        border-top: none;
        border-bottom: none;
    }

    .button-container {
        flex-direction: column; /* Stack buttons vertically */
        gap: 10px;
    }
}

/* Media Query for Extra Small Screens */
@media (max-width: 480px) {
    .main-section {
        height: 35rem;
        border: inset 1.5rem transparent;
        border-top: none;
        border-bottom: none;
    }

    .top-content {
        padding-top: 2rem;
    }
}
