.top-content {
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.main-section.logged-in .landing-image {
    margin-top: 2rem;
}

.landing-image {
    width: 50rem;
}

/* Media query for Extra Wide Screens (2560px) */
@media (max-width: 2560px) {
    .main-section.logged-in .landing-image {
        margin-top: 2rem;
    }

    .landing-image {
        width: 50rem;
    }
}

/* Media query for Large Screens (Laptop L) */
@media (max-width: 1440px) {
    .top-content {
        padding-top: 4rem;
    }

    .main-section.logged-in .landing-image {
        margin-top: 1rem;
    }

    .landing-image {
        width: 40rem;
    }
}

/* Media Query for Medium Screens (Laptop) */
@media (max-width: 1024px) {
    .top-content {
        padding-top: 3rem;
    }

    .main-section.logged-in .landing-image {
        margin-top: 1rem;
    }

    .landing-image {
        width: 30rem;
    }
}

/* Media Query for Small Screens (Mobile) */
@media (max-width: 768px) {
    .top-content {
        padding-top: 3rem;
    }

    .main-section.logged-in .landing-image {
        margin-top: 1rem;
    }

    .landing-image {
        width: 30rem;
    }
}

/* Media Query for Small Screens (Mobile L)*/
@media (max-width: 425px) {
    .top-content {
        padding-top: 2rem;
    }

    .main-section.logged-in .landing-image {
        margin-top: 1rem;
    }
    .landing-image {
        width: 20rem;
    }
}

/* Media Query for Extra Small Screens (Mobile M) */
@media (max-width: 375px) {
    .top-content {
        padding-top: 2.5rem;
    }

    .main-section.logged-in .landing-image {
        margin-top: 1rem;
    }

    .landing-image {
        width: 18rem;
    }
}

/* Media Query for Extra Small Screens (Mobile S) */
@media (max-width: 320px) {
    .top-content {
        padding-top: 2.5rem;
    }

    .main-section.logged-in .landing-image {
        margin-top: 1rem;
    }

    .landing-image {
        width: 15rem;
    }
}