.modal-dialog {
  display: flex;
  align-items: center; 
  min-height: 100vh;
}

/* Modal Container */
html .modal-content {
  padding: 1rem 1rem;
  border: 0.1rem solid #1e1e1e;
}

/* Modal Header */
html .modal-header {
  border-bottom: none;
  margin-top: 1rem;
}

/* Modal Footer */
html .modal-footer {
  border-top: none;
  justify-content: space-between;
}

/* Modal Main Title */
html .modal-title-main {
  font-size: 2.50rem; /* Larger font for the main title */
  font-weight: bold;
}

/* Modal Sub Title */
html .modal-title-sub {
  font-size: 1rem; /* Smaller font for the subtitle */
  color: #1e1e1e;
  font-weight: bold;
  margin-top: 5px; /* Adds space between the title and subtitle */
}

/* Form Labels (e.g., Username, Email, First Name) */
html .form-label {
  font-weight: bold;
}

/* Form Input Containers */
html .form-control {
  border: 0.1rem solid #1e1e1e;
}

/* Line Separator */
.separator {
  display: flex;
  align-items: center;
  margin-top: 1em; 
}

/* Line Separator Text */
html .separator span {
  font-size: 1rem;
  color: #1e1e1e; 
  text-align: center;
}

/* Primary Button */
html .btn-primary {
  background-color: #559CD0; /* Sky blue */
  color: #FFFFFF; /* White text */
  border: 0.1rem solid #1e1e1e;
  text-shadow: 0.05rem 0.05rem #1e1e1e;
}

html .btn-primary:hover {
  background-color: #6db2e3; /* Lighter blue */
  color: #FFFFFF; /* White text */
  border: 0.1rem solid #1e1e1e;
  text-shadow: 0.05rem 0.05rem #1e1e1e;
  transform: translateY(0.1rem);
  transition: transform 150ms;
}

html .modal .btn-primary:active {
  background-color: #559CD0;
  border: 0.1rem solid #1e1e1e;
}

/* Secondary Button */
html .btn-secondary {
  background-color: #E3E3E3;
  color: #1e1e1e; /* White text */
  border: 0.1rem solid #1e1e1e;
  text-shadow: 0.05rem 0.05rem #9e9e9e;
}

html .btn-secondary:hover {
  background-color: #f0f0f0;
  color: #1e1e1e; /* White text */
  border: 0.1rem solid #1e1e1e;
  text-shadow: 0.05rem 0.05rem #9e9e9e;
  transform: translateY(0.1rem);
  transition: transform 150ms;
}

html .modal .btn-secondary:active {
  background-color: #E3E3E3;
  border: 0.1rem solid #1e1e1e;
}

/* Close Button */
html .btn-close {
  color: #1e1e1e;
  opacity: 100%;
}

html .btn-close:hover {
  transform: translateY(0.1rem);
  transition: transform 150ms;
}

/* Link Buttons (e.g., Forgot Password, Sign In) */
html .link-btn {
  padding: 0rem;
  color: #1e1e1e;
  font-weight: bold;
}

html .link-btn:hover {
  color: #559CD0;
}

/* Container for icons inside input field (e.g., hide/show password, dropdown selector) */
.icon-container {
  position: relative;
}

/* Hide/show password icon */
html .password-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1; /* Ensure the icon stays on top of the input */
}

html .password-icon:hover {
  color: #559CD0;
}

/* Dropdown selector arrow icon */
.dropdown-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; /* Ensures the icon doesn't block clicks */
  color: #1e1e1e;
}

/* Checkbox */
html .form-check-input {
  border: 0.1rem solid #1e1e1e;
}

html .form-check-input:hover {
  border: 0.1rem solid #1e1e1e;
  transform: translateY(0.1rem);
  transition: transform 150ms;
  background-color: #c0e4fe; /* Lighter blue */
}

html .form-check-input:focus {
  border: 0.1rem solid #559CD0; /* Sky blue */
}

html .form-check-input:checked {
  border: 0.1rem solid #1e1e1e;
  background-color: #559CD0;
}

/* Social Media Login Buttons Container */
.social-login {
  align-items: center;
  margin-top: 1em;
}

/* Social Media Login Buttons */
html .social-button {
  width: 65%;
}