.modal-title {
    text-align: left;
    font-weight: bold; 
    font-size: 2.5rem; 
}

html .form-check-input {
  border: 0.1rem solid #1e1e1e;
}

html .form-check-input:hover {
  border: 0.1rem solid #1e1e1e;
  transform: translateY(0.1rem);
  transition: transform 150ms;
  background-color: #c0e4fe; /* Lighter blue */
}

html .form-check-input:focus {
  border: 0.1rem solid #559CD0; /* Sky blue */
}

html .form-check-input:checked {
  border: 0.1rem solid #1e1e1e;
  background-color: #559CD0;
}