/* Preference Tag Container */
html .preferences {
  display: flex;
  flex-wrap: wrap;
  border: 0.1rem solid #1e1e1e;
  border-radius: 0.4rem;
}

/* Preference Tag */
html .preference-tag {
  cursor: pointer;
  color: white;
  text-shadow: 0.05rem 0.05rem #1e1e1e;
  margin: 0.4rem;
  padding: 0.4rem 0.6rem;
  border-radius: 0.7rem;
  font-weight: normal;
  /* background-color: white !important;  */
}

html .preference-tag:hover {
  transform: translateY(0.1rem);
  transition: transform 150ms;
}
