/* Main container setup */
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.about-title {
    padding-top: 5rem;
}

.about-content {
    background-color: white;
    padding: 5rem;
    font-size: 2rem;
}

.about-image {
    width: 50rem;
    margin-top: 1rem;
}

/* Media query for larger screens (2560px) */
@media (max-width: 2560px) {
    .about-content {
        padding: 4rem;
        font-size: 1.5rem;
    }

    .about-image {
        width: 50rem;
        margin-top: 1rem;
    }
}

/* Media query for Laptop screens (1440px) */
@media (max-width: 1440px) {
    .about-content {
        padding: 3.5rem;
    }

    .about-title {
        padding-top: 4rem;
    }

    .about-image {
        width: 35rem;
        margin-top: 1rem;
    }
}

/* Media Query for Laptop Screens (1024px) */
@media (max-width: 1024px) {
    .about-content {
        padding: 2.5rem;
        font-size: 1rem;
    }

    .about-title {
        padding-top: 3.5rem;
    }

    .about-image {
        width: 30rem;
        margin-top: 1rem;
    }
}

/* Media Query for Tablet Screens (Mobile) */
@media (max-width: 768px) {
    .about-content {
        padding: 2rem;
    }

    .about-title {
        padding-top: 3rem;
    }

    .about-image {
        width: 22rem;
        margin-top: 1rem;
    }

}

/* Media Query for Extra Small Screens */
@media (max-width: 425px) {
    .about-content {
        padding: 2rem;
    }
    
    .about-title {
        padding-top: 2rem;
    }

    .about-image {
        width: 15rem;
        margin-top: 1rem;
    }
}
