/* Main container setup */
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    background-image: url('../assets/images/Picture2.svg');
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh; 
    box-sizing: border-box; 
}


/* Title styling - on top of background image */
.about-title {
    font-size: 3rem;
    position: absolute;
    top: 4%; 
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    z-index: 1; 
    text-align: center;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .terms-title {
        font-size: 2.5rem;
        top: 30%;
    }

}

@media (max-width: 480px) {
    .terms-title {
        font-size: 2rem;
        top: 30%;
    }

}
