.admin-dashboard {
    padding: 8rem 8rem;
}

.admin-dashboard h5 {
    text-align: left;
    font-size: 2rem;
}

.admin-profile-pic {
    border-radius: 50%; /* Make the image circular */
    object-fit: cover;
    width: 5rem;
    height: auto;
}

.admin-user-review {
    border-bottom: 0.1rem solid #c2c2c2;
    padding: 0.5rem;
    padding-bottom: 1rem;
}

.admin-user-review:last-child {
    border-bottom: none; /* Remove border from last review */
}

.review-id {
    font-size: 1.2rem;
    text-decoration: underline;
}

/* Table Styling */
.table-container {
    border: 1px solid #1e1e1e; /* Table border color */
    border-radius: 0.5rem; /* Round the corners */
    overflow: hidden; /* Ensure the table doesn't overflow the rounded container */
}

html .table-bordered {
    margin: 0rem;
}

html .table {
    background-color: #ffffff;
    border: 1px solid #1e1e1e;
    border-radius: 0.5rem;
    overflow: hidden;
}

html .table th {
    background-color: rgb(244, 255, 252);
    color: #1e1e1e;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
}

html .table td {
    text-align: left;
    padding: 1rem;
    font-size: 1rem;
}

.delete-btn , .delete-user-btn {
    text-align: center;
    margin: 0.5rem;
    font-size: 0.8rem;
    padding: 0.5rem;
    width: 5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid #1e1e1e;
    background-color: #f05353;
    color: #ffffff;
    text-shadow: 0.05rem 0.05rem #1e1e1e;
    margin: 0.5rem 0rem;
}

.delete-user-btn {
    width: 6rem;
    font-size: 1rem;
    border-radius: 0.6rem;
}

.delete-btn:hover , .delete-user-btn:hover {
    transform: translateY(0.1rem);
    transition: transform 150ms;
    background-color: #e05050;
    text-shadow: none;
}
