.homepage-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-rated-section, .explore-section {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 1rem;
}

.top-rated-section {
  background-color: #E4FFF5;
  border-bottom: 0.1rem solid #1e1e1e; /* Bottom border */
}

.explore-section {
  background-color: #f2ffe1;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap */
  gap: 2rem; /* Add spacing between cards */
  justify-content: center; /* Center the cards */
}

.top-rated-container {
  display: flex;
  flex-direction:row;
  margin: 2rem;
}

.top-rated-card {
  display: flex;
  flex-direction: row; /* Make the card layout horizontal */
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  width: 100%;
  /* max-width: 55rem; */
  padding: 0rem 3rem;
}

.top-rated-card:hover {
  cursor: pointer;
}

.top-rated-profile-image {
  width: 15rem; /* Adjust image size */
  height: 15rem;
  border-radius: 50%; /* Make the image circular */
  object-fit: cover;
  /* margin-right: 1em; */
}

.top-rated-profile-info {
  display: flex;
  flex-direction: column; /* Stack profile name, occupation, description, and score vertically */
  text-align: left;
  /* margin-right: 7rem; */
}

.top-rated-profile-name {
  font-size: 2.5em;
  font-weight: bold;
}

.top-rated-profile-occupation {
  margin-top: 0.5rem;
  font-size: 1.5em;
  font-weight: bold;
}

.top-rated-profile-description {
  width: 15rem;
  font-size: 1.5em;
}

.top-rated-profile-score {
  font-weight: bold;
  font-size: 1.5em;
}

.top-rated-location {
  font-size: 1.5em; /* Smaller font size for location */
  margin-bottom: 4rem;
  text-align: right;
}

.navigation-button {
  border: none;
  background: none;
}

.navigation-button:hover {
  transform: translateY(0.1rem);
  transition: transform 150ms;
}