.review-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-profile-section,
.review-section {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}

.review-profile-section {
  background-color: #e4fff5;
  border-bottom: 0.1rem solid #1e1e1e; /* Bottom border */
}

.review-section {
  background-color: #f2ffe1;
}

.review-profile-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 55rem;
  height: 100%;
  padding: 3rem;
}

.profile-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50rem;
  gap: 1rem;
}

.review-profile-info {
  display: flex;
  flex-direction: column; /* Stack name, occupation, etc. */
  text-align: left;
  flex: 1; /* Take up available space */
  min-width: 15rem; /* Ensure a minimum width for responsiveness */
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}
.review-profile-name {
  font-size: 2.5em;
  font-weight: bold;
}

.profile-favorite-icon {
  cursor: pointer;
  margin: 1rem;
  padding-top: 0.5rem;
}

.profile-favorite-icon {
  cursor: pointer;
  margin: 1rem;
  padding-top: 0.5rem;
}

.review-profile-occupation {
  font-size: 1.8em;
  font-weight: bold;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  width: 100%;
  text-align: left;
}

.review-profile-description {
  font-size: 1.8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
}

.review-score-container {
  font-size: 3em;
}

.review-profile-score {
  font-weight: bold;
  font-size: 2em;
}

.image-location-container {
  display: flex;
  flex-direction: column; /* Stack image and location */
  align-items: center;
  flex: 0 0 auto; /* Prevent the container from growing/shrinking */
}

.review-profile-image {
  border-radius: 50%; /* Make the image circular */
  object-fit: cover;
  width: 11rem; /* Adjust image size */
  height: auto;
  margin-bottom: 1rem;
}

.review-profile-location {
  font-size: 1.8em;
  text-align: center;
}

.review-preferences-section {
  margin: 1rem 0rem;
}

/* Review Card + Profile Card */
.review-card {
  display: flex;
  flex-direction: row; /* Make the card layout horizontal */
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  width: 100%;
  max-width: 55rem;
  height: 100%;
  padding: 3rem;
  background-color: #ffffff;
  border: 0.1rem solid #1e1e1e;
  border-radius: 0.9rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.review-card:hover {
  transform: translateY(0.1rem);
  transition: transform 150ms;
}

.review-info {
  display: flex;
  flex-direction: column; /* Stack profile name, description, and score vertically */
  text-align: left;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.review-score {
  font-weight: bold;
  font-size: 1.8em;
}

.review-description {
  font-size: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
}

.review-questions {
  font-size: 1.2em;
  margin: 1rem 0rem;
}

.review-username {
  font-size: 1.5em;
  font-weight: bold;
}

.review-date {
  font-size: 1.5em;
  font-weight: bold;
}

/* Preference tags */
.preferences-section .preference-tag {
  cursor: default;
}

.preferences-section .preference-tag:hover {
  transform: translateY(0rem);
}

/* Rate button */
.rate-btn {
  text-align: center;
  margin-left: 2rem;
  font-size: 1.5rem;
  height: 4rem;
  width: 6.5rem;
  border-radius: 1rem;
  border: 0.15rem solid #1e1e1e;
  text-shadow: 0.1rem 0.1rem #1e1e1e;
}

/* Media query for Large Screens (Laptop L) */
@media (max-width: 1440px) {
  .review-profile-card {
    padding: 2rem;
  }
}

/* Media Query for Medium Screens (Laptop) */
@media (max-width: 1024px) {
  .review-profile-section,
  .review-section {
    padding: 2.5rem;
  }

  .review-profile-card {
    padding: 2rem;
  }

  .review-profile-info {
    display: flex;
    flex-direction: column; /* Stack profile name, description, and score vertically */
    text-align: left;
  }

  .review-profile-name {
    font-size: 2.8em;
  }

  .profile-favorite-icon {
    margin: 1rem;
    padding-top: 0rem;
  }

  .review-profile-occupation {
    font-size: 1.8em;
  }

  .review-profile-description {
    font-size: 1.8em;
  }

  .review-score-container {
    font-size: 3em;
  }

  .review-profile-score {
    font-size: 2.2em;
  }

  .review-heart-icon {
    width: 3rem; /* Adjust image size */
    height: 3rem;
  }

  .review-profile-image {
    width: 9rem; /* Adjust image size */
    height: auto;
    margin-bottom: 1rem;
  }

  .review-profile-location {
    font-size: 1.5em;
  }

  .review-preferences-section {
    margin: 0.5rem 0rem;
  }

  .rate-btn {
    margin-left: 1.5rem;
    font-size: 1.4rem;
    height: 3.5rem;
    width: 5.5rem;
    border-radius: 1.1rem;
    border: 0.11rem solid #1e1e1e;
    text-shadow: 0.1rem 0.1rem #1e1e1e;
  }

  .review-card {
    margin: 1rem;
    width: 100%;
    max-width: 55rem;
    height: 100%;
    padding: 3rem;
    border: 0.1rem solid #1e1e1e;
    border-radius: 0.7rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

  .review-score {
    font-weight: bold;
    font-size: 1.5em;
  }

  .review-description {
    font-size: 1.5em;
  }

  .review-questions {
    font-size: 1.1em;
    margin: 1rem 0rem;
  }

  .review-username {
    font-size: 1.5em;
    font-weight: bold;
  }

  .review-date {
    font-size: 1.5em;
  }
}

/* Media Query for Small Screens (Tablet) */
@media (max-width: 768px) {
  .review-profile-section,
  .review-section {
    padding: 2rem;
  }

  .review-profile-card {
    padding: 2rem;
  }

  .review-profile-info {
    display: flex;
    flex-direction: column; /* Stack profile name, description, and score vertically */
    text-align: left;
  }

  .profile-info-container {
    width: 40rem;
    gap: 1rem;
  }

  .review-profile-name {
    font-size: 2em;
  }

  .review-profile-occupation {
    font-size: 1.3em;
  }

  .review-profile-description {
    font-size: 1.3em;
  }

  .review-profile-score {
    font-size: 1.3em;
  }

  .review-profile-image {
    width: 7rem;
    height: auto;
    margin-bottom: 1rem;
  }

  .review-profile-location {
    font-size: 1.2em;
  }

  .review-preferences-section {
    margin: 0.3rem 0rem;
  }

  .rate-btn {
    margin-left: 0.7rem;
    font-size: 0.9rem;
    height: 2.5rem;
    width: 3.5rem;
    border-radius: 0.7rem;
    border: 0.1rem solid #1e1e1e;
    text-shadow: 0.1rem 0.1rem #1e1e1e;
  }

  .review-card {
    margin: 1rem;
    width: 100%;
    max-width: 50rem;
    height: 100%;
    padding: 3rem;
    border: 0.1rem solid #1e1e1e;
    border-radius: 0.7rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

  .review-score {
    font-weight: bold;
    font-size: 1.5em;
  }

  .review-description {
    font-size: 1.5em;
  }

  .review-questions {
    font-size: 1.1em;
    margin: 1rem 0rem;
  }

  .review-username {
    font-size: 1.5em;
    font-weight: bold;
  }

  .review-date {
    font-size: 1.5em;
  }
}

/* Media Query for Extra Small Screens (Mobile L) */
@media (max-width: 425px) {
  .review-profile-section,
  .review-section {
    padding: 1.1rem;
  }

  .review-profile-card {
    padding: 2rem;
  }

  .review-profile-info {
    display: flex;
    flex-direction: column; /* Stack profile name, description, and score vertically */
    text-align: left;
  }

  .profile-info-container {
    width: 40rem;
    gap: 1rem;
  }

  .review-profile-name {
    font-size: 1.8em;
  }

  .review-profile-occupation {
    font-size: 1.1em;
  }

  .review-profile-description {
    font-size: 1.1em;
  }

  .review-profile-score {
    font-size: 1.5em;
  }

  .review-profile-image {
    width: 6rem;
    height: auto;
    margin-bottom: 1rem;
  }

  .review-profile-location {
    font-size: 1.1em;
  }

  .review-preferences-section {
    margin: 0.1rem 0rem;
  }

  .rate-btn {
    margin-left: 0.5rem;
    font-size: 0.9rem;
    height: 2.2rem;
    width: 3.7rem;
    border-radius: 0.7rem;
    border: 0.1rem solid #1e1e1e;
    text-shadow: 0.1rem 0.1rem #1e1e1e;
  }

  .review-card {
    margin: 1rem;
    width: 100%;
    max-width: 50rem;
    height: 100%;
    padding: 2.5rem;
    border: 0.1rem solid #1e1e1e;
    border-radius: 0.7rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

  .review-score {
    font-weight: bold;
    font-size: 1.5em;
  }

  .review-description {
    font-size: 1.5em;
  }

  .review-questions {
    font-size: 1.1em;
    margin: 1rem 0rem;
  }

  .review-username {
    font-size: 1.5em;
    font-weight: bold;
  }

  .review-date {
    font-size: 1.5em;
  }
}

/* Media Query for Extra Small Screens (Mobile M) */
@media (max-width: 375px) {
  .review-profile-section,
  .review-section {
    padding: 1.1rem;
  }

  .review-profile-card {
    padding: 1rem;
  }

  .review-profile-info {
    display: flex;
    flex-direction: column; /* Stack profile name, description, and score vertically */
    text-align: left;
  }

  .profile-info-container {
    width: 40rem;
    gap: 1rem;
  }

  .review-profile-name {
    font-size: 1.5em;
  }

  .review-profile-occupation {
    font-size: 1em;
  }

  .review-profile-description {
    font-size: 1em;
  }

  .review-profile-score {
    font-size: 1.2em;
  }

  .review-profile-image {
    width: 5rem;
    height: auto;
    margin-bottom: 0.5rem;
  }

  .review-profile-location {
    font-size: 0.9em;
  }

  .review-preferences-section {
    margin: 0.3rem 0rem;
  }

  .rate-btn {
    margin-left: 1rem;
    font-size: 0.7rem;
    height: 2rem;
    width: 3rem;
    border-radius: 0.6rem;
    border: 0.1rem solid #1e1e1e;
    text-shadow: 0.1rem 0.1rem #1e1e1e;
  }

  .review-card {
    margin: 1rem;
    width: 100%;
    max-width: 50rem;
    height: 100%;
    padding: 2.2rem;
    border: 0.1rem solid #1e1e1e;
    border-radius: 0.7rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

  .review-score {
    font-weight: bold;
    font-size: 1.5em;
  }

  .review-description {
    font-size: 1.5em;
  }

  .review-questions {
    font-size: 1.1em;
    margin: 1rem 0rem;
  }

  .review-username {
    font-size: 1.5em;
    font-weight: bold;
  }

  .review-date {
    font-size: 1.5em;
  }
}

/* Media Query for Extra Small Screens (Mobile S) */
@media (max-width: 320px) {
  .review-profile-section,
  .review-section {
    padding: 1rem;
  }

  .review-profile-card {
    padding: 1rem;
  }

  .review-profile-info {
    display: flex;
    flex-direction: column; /* Stack profile name, description, and score vertically */
    text-align: left;
  }

  .profile-info-container {
    width: 40rem;
    gap: 1rem;
  }

  .review-profile-name {
    font-size: 1.3em;
  }

  .review-profile-occupation {
    font-size: 1em;
  }

  .review-profile-description {
    font-size: 1em;
  }

  .review-profile-score {
    font-size: 1em;
  }

  .review-profile-image {
    width: 5.5rem;
    height: auto;
    margin-bottom: 0.3rem;
  }

  .review-profile-location {
    font-size: 0.9em;
  }

  .review-preferences-section {
    margin: 0.1rem 0rem;
  }

  .rate-btn {
    margin-left: 1rem;
    font-size: 0.6rem;
    height: 1.8rem;
    width: 2.8rem;
    border-radius: 0.6rem;
    border: 0.1rem solid #1e1e1e;
    text-shadow: 0.1rem 0.1rem #1e1e1e;
  }

  .review-card {
    margin: 1rem;
    width: 100%;
    max-width: 50rem;
    height: 100%;
    padding: 2.1rem;
    border: 0.1rem solid #1e1e1e;
    border-radius: 0.7rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

  .review-score {
    font-weight: bold;
    font-size: 1.3em;
  }
  .review-description {
    font-size: 1.2em;
  }

  .review-questions {
    font-size: 1.1em;
    margin: 1rem 0rem;
  }

  .review-username {
    font-size: 1.5em;
    font-weight: bold;
  }

  .review-date {
    font-size: 1.2em;
  }
}
