.search-content {
    height: 100%;
    width: 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 4rem 1rem;
}

.search-bar {
    padding: 1rem 2rem;
    margin: 2rem;
}

.search-bar .form-control {
    border-radius: 2rem;
    padding: 0.8rem 1.5rem;
}

.search-results-container {
    min-height: 60vh;
    padding-bottom: 2rem;
}

.search-results {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

.search-results-container h3 {
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
}